.artifact-data-container {
  width: 20rem;
  height: 20rem;
  background-color: teal;
  border-radius: 20rem;

  position: absolute;
  top: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artifact-data-title,
.artifact-data-subtitle,
.artifact-data-value {
  color: #39393A;
}

.artifact-data-value {
  margin-top: 2rem;
  font-weight: 700;
}