:root {
  --header-title: #ffffff;
  --app-title: #39393a;
  --gray-light: #505050;
  --gray-dark: #202020;
  --red-light: #ff8888;
  --red-dark: #bb4e4e;
  --green-dark: #40923f;
  --account-title: #3a7b9c;
  --account-light: #e4f2fa;
  --account-dark: #a9def9;
  --transaction-title: #57b77d;
  --transaction-light: #e5f9ed;
  --transaction-dark: #aaf5c8;
  --category-title: #bdb354;
  --category-light: #f5f2da;
  --category-dark: #f5ec97;
  --objective-title: #ae84c8;
  --objective-light: #eee2f4;
  --objective-dark: #e4c1f9;
  --line: #d7d7d7;
}
