.button-container {
  width: 100%;
  height: 5rem;
  border: 0;
  cursor: pointer;
  background: #505050;
  border-radius: 0.5rem;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.button-container:hover {
  background-color: #39393A;
}

.button-title {
  color: #FFF;
}