.new-account-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-account-content {
  width: 100%;
  height: 100%;
  margin: 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.new-account-image {
  width: 30rem;
}

.new-account-data {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}