.input-authenticate-container {
  width: 30rem;
  margin: 4rem 0;
}

.input-authenticate-title {
  color: #39393A;
  font-size: 1.8rem;
}

.input-authenticate-box {
  width: 100%;
  height: 5rem;
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid #A9DEF9;
  color: #39393A;
}