.account-detail-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-detail-content {
  width: 100%;
  height: 100%;
  margin: 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.account-detail-card {
  width: 85%;
  height: 20rem;
  background: #FFF;
  border-radius: 0.8rem;
  box-shadow: 0 0 3rem rgba(14, 9, 9, 0.2);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-detail-title {
  font-size: 2.4rem;
  align-self: flex-start;
  color: #202020;
}

.account-detail-line {
  width: 90%;
  height: 0.1rem;
  background: #D7D7D7;
  margin: 1.5rem 0;
}

.account-detail-value-container {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-detail-data {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}